.cocktails {
  position: relative;
  width: 100vw;
}

.l-leaf {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: -1;
}
.r-leaf {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .l-leaf {
    max-width: 50%;
    max-height: 50%;
  }
  .r-leaf {
    max-width: 50%;
    max-height: 50%;
  }
}


.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  padding: 4rem;
  gap: 30rem;
  flex-wrap: wrap;
  z-index: 0;
}

.menu-column {
  flex: 1;
  max-width: 300px;
}


.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.item-info h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #d4af37; /* gold tone */
  margin: 0;
}

.item-info p {
  font-size: 0.9rem;
  color: #bbb;
  margin: 0;
}

.price {
  font-size: 1.2rem;
  white-space: nowrap;
}


@media (max-width: 768px) {
  .menu-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5em;
  }

  .menu-column {
    max-width: 100%;
  }

  .menu-item {
    justify-content: center;
  }

  .price {
    margin-left: 0.5rem;
  }
}
