nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}
@media screen and (max-width: 600px) {
  nav {
    padding: 0 0;
  }
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  gap: 0.5rem;
}

nav ul li {
  display: inline-block;
  margin: 0 1rem;
  list-style: none;
}

/* ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1rem;
}

ul li {
  position: relative;
} */
